.*
*-stamp
*.bak
*.cfg
*.cover
*.db
*.gpx*
*.log
*.old
*.orig
*.pot
*.pyc
*.pyo
*.so
*.swo
*.swp
*.zip
*~
build
debian/files
debian/python-module-stampdir/
debian/wxgtd
debian/wxgtd.*
dist
doc.dev
locale
wxgtd.egg-info
tags
info/
docs/
